[Desktop Entry]
Type=Application
Name=Flix with Friends
Comment=The Solution to Cinematic Indecision
Exec=/home/tristan957/Projects/Flix-with-Friends/flix-with-friends
Terminal=false
Categories=AudioVideo;Video;
Keywords=Movie;movie;Video;video;Videos;videos;Movies;movies;Entertainment;entertainment;Fun;fun;Family;family
Name[en_US]=Flix with Friends
