[Desktop Entry]
Type=Application
Name=Flix with Friends
Comment=A Family Movie Night solution by Joseph and Tristan
Exec=/home/tristan957/Documents/Personal_Projects/LocalHack16/flix-with-friends
Terminal=false
Categories=AudioVideo;Video;
Keywords=Movie;Movies;Video;movie;movies;
Name[en_US]=Flix with Friends
